<div class="container-scroller" style="position: absolute;left: 0px;width: 100%;min-height: 100vh;top: 0px;z-index: 2000;">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4">Login</h2>
            <div class="auto-form-wrapper"  style="padding: 0px;">
                <div id="formplacer"></div>
                <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">New user?</span>
                    <a route="/enter/reg" class="text-black text-small">Create new account</a>
                  </div>              
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>