<div class="grid-margin stretch-card" style="height: 100%;">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                <i class="mdi mdi-poll-box text-primary icon-lg"></i>
              </div>
              <div class="float-right">
                <h5 class="mb-0 text-right">Blockchain info</h5>
                <div class="fluid-container">
                  <p class="mb-0 text-left">Courrent block: <strong> #blockchain.blockc#</strong></p>
                  <p class="mb-0 text-left">Nethash GHs: <strong> #blockchain.hrate#</strong></p>
                  <p class="mb-0 text-left">BitGun level: <strong> #blockchain.lvl#</strong></p>
                  <p class="mb-0 text-left">Block reward: <strong> #blockchain.reward#</strong></p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>