<div class="grid-margin stretch-card" style="height: 100%;">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                <i class="fa fa-credit-card text-primary icon-lg"></i>
              </div>
              <div class="float-right">
              <h5 class="mb-0 text-right">Ballance</h5>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">#balance#</h3><h6 class="text-muted"> XDNA</h6>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>