<div class="grid-margin stretch-card" style="height: 100%;">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-cube text-primary icon-lg"></i>
          </div>
          <div class="float-right">
          <h5 class="mb-0 text-right">Masternodes total</h5>
                        <p class="mb-0 text-right">Light nodes: <strong>#mnodes.lmc#</strong></p>
          <p class="mb-0 text-right">Medium nodes: <strong> #mnodes.mnc#</strong></p>
          <p class="mb-0 text-right">Full nodes: <strong> #mnodes.fmc#</strong></p>					  
          </div>
        </div>                  
      </div>
    </div>
  </div>