.infoblock{
    display: flex;
    flex-direction: column;
    width: 150px;
    background: #1ca1c1;
    color: white;
    margin: 10px;
    line-height: 27px;
    border-radius: 10px;
}
.page_title{
    font-weight: 400;
    font-size: 16pt;
}
.page_subtitle{
    font-weight: 100;
    font-size: 14pt;
}
.xdna_logo{
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right; 
    height: 100%;
    width:95%;
    margin-right: 30px;
}

.txlast{
    width:276px;
    height:50px;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;
    

}
.txlast>.dt{
    color: grey;
}
.txlast.dreceive>.ammount{
    color: green;
    font-size: 14px;
}
.txlast.dsend>.ammount{
    color: red;
    font-size: 14px;
}
.txlast.dreceive{
    background: #e4fbe4;
}
.txlast.dsend{
    background: #fff0f0;
}
.qrcodeimg{
    height: 135px;
    width:135px;
}
.category{
    width: 20px;
    height: 20px;
}
.category.receive{
    background-image: url("/img/pl.png")
}
.category.send{
    background-image: url("/img/mn.png")
}
.amreceive{
    color:#059e05;
}
.amsend{
    color:#b40000;
}